@font-face {
  font-family: 'CeraPro-Medium';
  src: url('CeraPro-Medium.eot');
  src: url('CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('CeraPro-Medium.svg#CeraPro-Medium') format('svg'),
       url('CeraPro-Medium.ttf') format('truetype'),
       url('CeraPro-Medium.woff') format('woff'),
       url('CeraPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

